.smartphone-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 600px; /* default size */
}

.smartphone-frame {
    width: 100%;
    height: 100%;
    background-color: #000;
    border-radius: 30px; /* Slightly less rounded corners */
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: visible;
    z-index: 30;
}

.smartphone-notch-pill {
    width: 12px; /* Width of the pill-shaped notch */
    height: 12px; /* Height of the pill-shaped notch */
    background-color: #000;
    border-radius: 10px;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.smartphone-screen {
    width: 100%;
    height: 100%;
    background-color: #121212;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.smartphone-media {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Use cover to fill the screen */
    display: block;
    border-radius: 20px;
    padding: 8px;
}

@media (max-width: 768px) {
    .smartphone-container {
        height: 50vh;
    }

    .smartphone-frame {
        border-radius: 20px;
    }

    .smartphone-notch-pill {
        width: 10px; /* Width of the pill-shaped notch */
        height: 10px; /* Height of the pill-shaped notch */
        top: 8px;
    }

    .smartphone-media{
        padding: 6px;
    }
}