:root {
    --primary-color: #F0FFFF;
    --primary-color-dark: #003153;
    --page-background: #FFFFFF;
    --page-background-alt: #f8f9fa;
    --dark-gray: #343a40;
    --dark-gray-text: #adb5bd;
}

/* CSS Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* Smooth scrolling for anchor links */
    font-size: 16px; /* rem to this size */
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    color: #333;
    overflow-x: hidden; /* This prevents horizontal scrolling */
}

/* --- Header Navigation --- */
.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
    z-index: 1000;
    background-color: var(--primary-color);
}

    .header.scrolled {
        background-color: var(--page-background);
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .header.scrolled-no-shadow {
        background-color: var(--page-background);
    }

    .header .logo {
        font-size: 1.5rem;
        font-weight: 700;
        color: #333;
        text-decoration: none;
    }

    .header .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;
    }

        .header .nav-links a {
            text-decoration: none;
            color: #555;
            font-weight: 600;
            transition: color 0.3s ease;
        }

            .header .nav-links a:hover {
                color: #007bff; /* Highlight color on hover */
            }

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

    .logo-container img {
        height: 30px; /* Adjust as needed */
        margin-right: 5px;
    }

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
}

/* --- Full-Height Intro Section --- */
.section {
    padding: 4rem 2rem;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

    .section h1 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        color: #222;
        line-height: 1.2;
    }

    .section p {
        font-size: 1.1rem;
        max-width: 800px;
        margin-bottom: 2rem;
        color: #666;
    }

#intro {
    background-color: var(--primary-color); /* A light background for the intro section */
}

    #intro h1 {
        font-size: 3rem;
        color: #222;
    }

    #intro p {
        font-size: 1.2rem;
        max-width: 550px;
        margin-bottom: 2rem;
        color: #666;
        display: inline-block
    }

.cta-button {
    display: inline-block;
    padding: 0.75rem 1.5rem;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 1.5rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

    .cta-button:hover {
        background-color: #0056b3;
    }

/* --- Feature Sections --- */
.feature-section {
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 3rem;
    border-bottom: 1px solid #eee;
}

    .feature-section:nth-child(even) {
        /*background-color: var(--page-background);*/
    }
    /* --- Alternating Layout --- */
    .feature-section:nth-child(odd) {
        flex-direction: row-reverse;
        /*background-color: var(--page-background-alt);*/
    }

.feature-content {
    flex: 1;
}

    .feature-content h2 {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
        color: #222;
        line-height: 1.2;
    }

    .feature-content p {
        font-size: 1.1rem;
        color: #555;
        margin-bottom: 0.8rem;
    }

.feature-image {
    flex: 1;
    text-align: center;
}

    .feature-image img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    }

.feature-phone {
    display: flex;
    justify-content: center;
    margin: 5px 30px;
}

/* --- Popup --- */
.popup-trigger {
    cursor: pointer;
    text-decoration: underline;
    color: #007bff;
}

    .popup-trigger:hover {
        color: #0056b3;
    }

/* --- UL custom list ---*/
ul.check-list,
ul.shield-list{
    list-style: none; /* Hides default bullets */
    padding: 0;
    margin: 0;
}

    ul.check-list li,
    ul.shield-list li {
        display: block;
        /*font-size:1.1rem;*/
        color: #555;
        text-align: left;
        margin: 2rem 1rem;
    }

        ul.check-list li::before {
            content: "✅";
            margin-right: 5px;
        }

        ul.shield-list li::before {
            content: "🛡️";
            margin-right: 5px;
        }

.react-icons {
    vertical-align: sub;
}

/* --- Responsive Design --- */
@media (max-width: 768px) {
    html{
        font-size: 14px;
    }

    .header {
        padding: 1rem 2rem 1rem 1rem !important;
    }

    .nav-links {
        gap: 1rem !important;
    }

    .feature-section {
        flex-direction: column-reverse;
        text-align: center;
        padding: 3rem 2rem;
    }

        .feature-section:nth-child(odd) {
            flex-direction: column-reverse;
        }

    .feature-image {
        width: 70%;
    }

    .feature-content {
        flex: 0;
    }

    .feature-phone {
        margin: 0px;
    }
}
