.altcolor {
    font-size: 1.1rem;
}

    .altcolor:nth-child(even) {
        background-color: var(--page-background);
    }

    .altcolor:nth-child(odd) {
        background-color: var(--page-background-alt);
    }

.feature-section {
    min-height: 100vh;
}
